    <div id="edit-modal" class="modal fade">
  		<div class="modal-dialog modal-lg">
    	 <div class="modal-content">
    	  <div class="modal-header">
       		<h5 class="modal-title">Remarcar precio de los articulos de un rubro</h5>
        		<button type="button" class="close" data-dismiss="modal" aria-label="close">
          		<span aria-hidden="true">&times;</span>
        	</button>
	      </div>
			<div>
				 <div class="modal-body">
			      	<div class="form-control-inline">
             			<%= select_tag :rubro, options_from_collection_for_select(@rubros, :id, :nombre), include_blank: 'Seleccionar RUBRO', class: 'form-control col-md-6'%>
     				</div>
     				<div class="form-control-inline">
			       		<input class="form-control col-md-6" type="text" placeholder="Ingrese % a incrementar" id="porcentaje" autocomplete="off">
			      	</div>
				 </div>
				    <div class="modal-footer">
				    	<button type="button" class="btn btn btn-edit" data-dismiss="modal">Actualizar fechas</button>
				    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					</div>
				
	 </div>
	</div>
	</div>
</div>


