      <% @rubros.each do |rubro| %>
      <tr class="row-<%= rubro.id %>">
        <td><%= rubro.id %></td>
        <td><%= rubro.nombre %></td>
        <td>
        <%= link_to "Modificar", edit_rubro_path(rubro), remote: true, class: 'btn btn-modificar btn-sm'%>
        </td>
      </tr>
      <% end %>