/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */
 @import "bootstrap";

.navbar {
	padding: 0px;
	margin-bottom: 10px;
}

span {
	color:white;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
}

.active {
	background-color: #4CAF50;
}

a:hover {
 	color: white;
}

a {
	color: white;
}


.btn-nuevo{
    white-space:normal !important;
    word-wrap: break-word;
    word-break: normal;
}

.btn-modificar{
	background-color: #c0d59f;
	color:black;
}

.btn-volver{
	background-color: #4CAF50;
	color:white;
    white-space:normal !important;
    word-wrap: break-word;
    word-break: normal;
}
