/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_tree.
 */
 @import "bootstrap";
 @import "toastr";

.search_articulos, .search_rubro {
  font-family: 'sans-serif';
}

.label-check {
  font-family: 'sans-serif';
}

.btn {
  font-family: 'sans-serif';
}

td .btn {
  font-family: 'sans-serif';
}

.index-link {
  font-family: 'sans-serif';
}

td  {
  font-family: 'segoe ui';
}

th {
  font-family: 'segoe ui';
}

.modal-header, .modal-footer {
  background-color:  #ebebe0;
}

.modal-header {
  font-family: 'segoe ui';
  font-weight: bold;
}

.modal-body label {
  font-family: 'segoe ui';
}

.modal-body input, select {
  font-family: 'segoe ui';
}

.navbar {
	padding: 0px;
	margin-bottom: 10px;
}

.inputRow {
	padding-left: 90px;
}

.navbar-nav > li > .dropdown-menu { background-color: grey; }

span {
	color:white;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

.btn-nueva-entrada:hover, .btn-nueva-entrada:active, .btn-nueva-entrada:focus,
.btn-newarticulo:hover, .btn-newarticulo:active, .btn-newarticulo:focus{
    background-color: red !important;
    border-color: red !important;
    color: white;
}

.btn-nueva-salida:hover, .btn-modificar:hover {
 background-color: blue !important;
 border-color: blue !important;
 color: white;
}

.btn-eliminar:hover {
 background-color: #c97272 !important;
 border-color: #c97272 !important;
 color: white;
}

.index-link:hover {
  color: white !important;
}

.active {
	background-color: #006644;
}

a {
	color: white;
}

.btn-edit {
	background-color: #cc4433;
	color: white;
}

.btn-edit-fecha {
  background-color: #cc4433;
  color: white;
}

.btn-edit-precio {
  background-color: #cc4433;
  color: white;
}

.btn-mas-herramientas:hover {
    background-color: green !important;
    border-color: green !important;
    color: white;
}

.btn-mas-herramientas {
    background-color:  #006644;
    border-color:  #006644;
    color:white;
}

.btn-modificar, .btn-eliminar {
    display: table-cell;
    vertical-align: top;
}

.btn-nueva-entrada, .btn-newarticulo{
    white-space:normal;
    word-wrap: break-word;
    word-break: normal;
    background-color: #924040;
    border-color: #924040;
    outline: none;
}

.inicio-nav {
    display: block;
    height: 38px;
    padding: 6px 25px;
    background-color:  #006644;
}

.inicio-nav:hover {
  background-color: green;
    border-color: green;
    color:white;
}

.btn-nueva-busqueda:hover {
    background-color: green;
    border-color: green;
    color:white;
}

.btn-nueva-busqueda{
    white-space:normal !important;
    word-wrap: break-word;
    word-break: normal;
    background-color: #006644;
    border-color: #006644;
}


.btn-nueva-salida, .btn-modificar{
	background-color: #354e85;
	color:white;
}

.btn-volver:hover{
  font-weight: bold;
}

.btn-volver{
	background-color: #006644;
	color:white;
  white-space:normal !important;
  word-wrap: break-word;
  word-break: normal;
}

.row-acciones {
    text-align: center;
}

.btn-mas {
  width: 100;
}

.btn-mas-rubro:hover {
 background-color: blue !important;
 border-color: blue !important;
 color: white;
}

.btn-mas-rubro {
    white-space:normal !important;
    word-wrap: break-word;
    word-break: normal;
    background-color: #354e85;
    border-color:  #354e85;
    color:white;
  }

.btn-mas-proveedor:hover {
 background-color: red !important;
 border-color: red !important;
 color: white;
}

.btn-mas-proveedor {
    white-space:normal !important;
    word-wrap: break-word;
    word-break: normal;
    background-color: #924040;
    border-color: #924040;
    color:white;
}

.dropdown-item:hover {
     background-color: #4F957E !important;
    border-color: #4F957E !important;
    color: white;
}

.table-rubros {
  border-radius: 5px;
    width: 45%;
    margin: 0px auto;
    float: none;
}

.form-stock {
  border-radius: 5px;
    width: 70%;
    margin: 0px auto;
    float: none;
}


.btn-borrar-movido {
  margin-left: 40px;
}


.input-stock {
  display: inline-block;
}

.row-stock-titulos {
  background-color: grey;
  color:black;
}

.rubro-articulos {
    font-family: 'sans-serif';
    padding-top: 7px;
    padding-right: 4px;
  }

.btn-ajuste-stock:hover, .btn-ver-rubro:hover{
    background-color: #4171B0;
    border-color: #4171B0;
    color: white;
}


.btn-ajuste-stock, .btn-ver-rubro{
    white-space:normal;
    word-wrap: break-word;
    word-break: normal;
    background-color: #8D6188;
    border-color: #8D6188;
    outline: none;
}

#fecha_update {
  display: inline-block; 
}


.select-procesar-stock {
  margin-bottom: 10px;
}


.btn-procesar-stock {
  margin-left: 505px;
}

.row-stock {
  display: inline-block;
  padding: 0;
}

.button-stock-row {
  margin-bottom: 30px;
}


.table-stock {
  border-radius: 5px;
    width: 70%;
    margin: 0px auto;
    float: none;
    margin-top: 10px;
}

