

<div class="form-group row">
      <div class="form-group col-md-3">
        <input class="form-control search_articulos" type="text" placeholder="Buscar por INTERNO" id="interno" autocomplete="off">
      </div>
      <div class="form-group col-md-3">
       <input class="form-control search_articulos" type="text" placeholder="Buscar por CÓDIGO" id="codigo" autocomplete="off">
      </div>
      <div class="form-group col-md-3">
       <input class="form-control search_articulos" type="text" placeholder="Buscar por DESCRIPCIÓN" id="descripcion" autocomplete="off">
      </div>
     <div class="col-md-3">
             <%= select_tag :rubro, options_for_select(@rubros), include_blank: 'Filtrar por RUBROS', class: 'form-control' %>
      </div>
</div>

 <table class="table table-striped">
    <tr>
      <th>Interno</th>
	    <th>Codigo</th>
      <th>Descripcion</th>
      <th>Rubro</th>
      <th>Precio</th> 
    </tr>
    
    <tbody class="articulo_tbody_content">
           <%= render partial: 'index_content' %>
    </tbody>
</table>


  <script type="text/javascript">

       $(".search_articulos").keyup(function() {
        
           $.ajax({
              url: '/articulos/search',
              data: {interno: $("#interno").val(),
                     codigo:  $("#codigo").val(),
                     descripcion: $("#descripcion").val()
                     rubro: $("#rubro").val()}
           });
       });
  </script>